@page "/fetchdata"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h1>Bank Accounts</h1>

<p>Sample bank accounts</p>

@if (accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th width="20%">Account Number</th>
                <th>Owner</th>
                <th>Live view</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BankAccount account in accounts.Values )
            {
            <tr>
                <td>
                    <button class="btn btn-primary" @onclick="() => NavigateToAccount(account.AccountNumber)">
                        @account.AccountNumber
                    </button>
                </td>
                <td>@account.ClientName </td>
                <td>
                    @if (!account.Watching)
                    {
                        <button class="btn btn-info" @onclick="() => WatchAccount(account.AccountNumber)">
                            Watch this account
                        </button>
                    }
                    else
                    {
                        <span>Watching...</span>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    Dictionary<string,BankAccount> accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = new Dictionary<string, BankAccount>();

        foreach(BankAccount acct in await Http.GetJsonAsync<BankAccount[]>("sample-data/bank-accounts.json"))
        {
            accounts.Add(acct.AccountNumber, acct);
        }

    }

    public void NavigateToAccount(string accountNumber)
    {
        NavigationManager.NavigateTo($"myaccount/{accountNumber}");
    }

    public void WatchAccount(string accountNumber)
    {
        if (accounts.ContainsKey(accountNumber ))
        {
            accounts[accountNumber].Watching = true;
            this.StateHasChanged();
        }
    }

    public class BankAccount
    {
        public String AccountNumber { get; set; }

        public string ClientName { get; set; }

        // Is this bank account in the live view
        public bool Watching { get; set; }
    }
}
