@page "/"

<h1>CloudBank - An Azure Serverless functions demo</h1>
<hr />

<p>
    This demo shows the use of a <a href="http://www.blazor.net">Blazor</a> wrapper over an 
    Azure <a href="https://azure.microsoft.com/en-us/services/functions">functions</a> application 
    backed by an <a href="https://github.com/MerrionComputing/EventsSourcing-on-Azure-Functions">event sourcing</a>
    based data layer.
</p>
<p>
    It is designed to <i>scale to zero</i> so that when not being used there is absolutely no running cost.
</p>